body {
  padding-top: 4px;
  user-select: none;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.info-banner {
  background-color: #3b3b3b;
  color: #fff;
  padding: 10px 16px;
  margin: 4px;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid #444;
  user-select: none;
  text-align: center;
}

ul {
  margin: 0px 4px 4px 4px;
  padding: 4px 20px 4px 20px;
  background-color: rgba(124, 115, 115, 0.349);
}

li {
  padding-bottom: 8px;
}

table {
  font-size: small;
  margin: 0px 4px 0px 4px;
  width: calc(100% - 8px);
}

.pengs {
  margin-bottom: 46px;
  max-height: calc(100vh - 48px);
  overflow-y: auto;
}

.bear {
  height: 48px;
}

.pengtable {
  font-size: small;
  margin-bottom: 4px;
  width: calc(100% - 8px);
}

.buttons {
  width: 100%;
  height: fit-content;
  bottom: 0;
  position: fixed;
  padding-top: 2px;
  z-index: 999;
}

.disguise,
.points,
.warnings {
  padding: 0px 4px 0px 4px;
}
.disguise {
  width: 24px;
}

.points {
  width: 12px;
}

.warnings {
  width: 38px;
}

.updated {
  width: 106px;
}

.war,
.req {
  padding: 0px 5px 0px 5px;
  margin: 2px;
}

.war {
  color: black;
  background: gold;
  border-radius: 10%;
}

.req {
  color: black;
  background: lightblue;
  border-radius: 50%;
}

.nistable {
  border-collapse: collapse;
}

.nistable:first-child {
  background: rgba(255, 255, 255, 0.1);
}

.nistable:nth-child(2) {
  background: rgba(255, 255, 255, 0.3);
}

.nistable tr:nth-child(odd) {
  background: none;
}

#buttontable tr th {
  width: calc(100% / 3);
}

.nisbutton[disabled="true"] {
  opacity: 0.2;
  pointer-events: none;
}
